*{
  box-sizing: border-box;
}

body{
  background-image:linear-gradient(to right, red, yellow);
  height: 100%;
  text-align: center;
  overflow:hidden;
  min-height: 100%;
}

#heading{
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px #aca2a29d;
}

#card{
  text-shadow: 2px 2px #eceaea65;
  background-color: rgba(118, 172, 219, 0.849);
  box-shadow: 0 4px 8px 0 rgba(142, 182, 68, 0.26);
  transition: 0.3s;
  padding: 2px 16px 2px 16px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #dadada;
}
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#container{
  flex-direction: column;
  display: inline-flex;
  

}
 #img{
 height: 100%;
 object-fit:inherit;
  width: 100%;
 }