*{
  box-sizing: border-box;
}

body{
  background-color: rgb(48, 33, 112);
  text-align: center;
}

#heading{
  color: aliceblue;
  text-shadow: 2px 2px #d85e5e;
}

#card{
  text-shadow: 2px 2px #e4a4a4;
  background-color: rgba(240, 248, 255, 0.568);
  box-shadow: 0 4px 8px 0 rgba(142, 182, 68, 0.26);
  transition: 0.3s;
  padding: 2px 16px 2px 16px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
}
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#container {
  float: left;
  padding: 0 10px;


}
@media screen and (max-width: 600px) {
  #container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
 #img{
 height: 100%;
 object-fit:inherit;
  width: 100%;
 }